img.authorImg {
    width: 45px;
}
.MuiGrid-root.MuiGrid-grid-xs-12.MuiGrid-grid-md-12.css-c13gni-MuiGrid-root {
    margin-bottom: 30px;
    margin-right: 5px;
}
.social-share-dialog{
    padding: 10px 35px;
    margin: 0px;
}

.social-button{
    margin: 25px 15px;
}